DB_PASSWORD=ipam

MS_WINRM_HOST=your-dc.domain.local
MS_WINRM_USER=DOMAIN\svcaccount
MS_WINRM_PASSWORD=yourpassword
MS_WINRM_TRANSPORT=ntlm

MS_DNS_SERVER=your-dns-server.domain.local
MS_DHCP_SERVER=your-dhcp-server.domain.local
